Source: libfdatetime
Section: libs
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.9.5
Homepage: https://github.com/libyal/libfdatetime/

Package: libfdatetime
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libfdatetime-dbg
Description: Library to support various date and time formats that are used in file formats
 libfdatetime is a library to support various date and time formats that are used in file formats.

Package: libfdatetime-dbg
Architecture: any
Section: debug
Depends: libfdatetime (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfdatetime
 Debugging symbols for libfdatetime.

Package: libfdatetime-dev
Section: libdevel
Architecture: any
Depends: libfdatetime (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libfdatetime
 Header files and libraries for developing applications for libfdatetime.

