Source: libfdatetime
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libfdatetime/

Package: libfdatetime
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libfdatetime-dbg
Description: Library to support various date and time formats that are used in file formats
 libfdatetime is a library to support various date and time formats that are used in file formats.

Package: libfdatetime-dbg
Architecture: any
Section: debug
Depends: libfdatetime (= ${Source-Version}), ${misc:Depends}
Description: Debugging symbols for libfdatetime
 Debugging symbols for libfdatetime.

Package: libfdatetime-dev
Section: libdevel
Architecture: any
Depends: libfdatetime (= ${Source-Version})
Description: Header files and libraries for developing applications for libfdatetime
 Header files and libraries for developing applications for libfdatetime.

