#!/usr/bin/make -f
# debian/rules that uses debhelper >= 7.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh  $@

install_libfdatetime:
	# Set up libfdatetime package directories and files
	mkdir -p debian/libfdatetime/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so.*.*.* debian/libfdatetime/usr/lib

install_libfdatetime_dev:
	# Set up libfdatetime-dev package directories and files
	mkdir -p debian/libfdatetime-dev/usr/include
	mkdir -p debian/libfdatetime-dev/usr/include/libfdatetime
	mkdir -p debian/libfdatetime-dev/usr/lib
	mkdir -p debian/libfdatetime-dev/usr/lib/pkgconfig
	mkdir -p debian/libfdatetime-dev/usr/share/man/man3
	install -p -m755 debian/tmp/usr/include/*.h debian/libfdatetime-dev/usr/include
	install -p -m755 debian/tmp/usr/include/libfdatetime/*.h debian/libfdatetime-dev/usr/include/libfdatetime
	install -p -m755 debian/tmp/usr/lib/*.la debian/libfdatetime-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.a debian/libfdatetime-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so debian/libfdatetime-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/pkgconfig/* debian/libfdatetime-dev/usr/lib/pkgconfig
	install -p -m755 debian/tmp/usr/share/man/man3/* debian/libfdatetime-dev/usr/share/man/man3

override_dh_auto_test:

override_dh_installinit: install_libfdatetime install_libfdatetime_dev

override_dh_installmenu:

override_dh_installmime:

override_dh_installmodules:

override_dh_installlogcheck:

override_dh_installlogrotate:

override_dh_installpam:

override_dh_installppp:

override_dh_installudev:

override_dh_installwm:

override_dh_installxfonts:

override_dh_gconf:

override_dh_icons:

override_dh_perl:

override_dh_pysupport:

override_dh_shlibdeps:
	dh_shlibdeps -Llibfdatetime -l${PWD}/debian/tmp/usr/lib

override_dh_makeshlibs:
	dh_makeshlibs -Xlibfdatetime-dev

